.menu {
	position: relative;
}

.menu .menu-btn {
	cursor: pointer;
	color: var(--text-color);
}

.menu .menu-btn i {
	font-size: var(--font-size-5xl) !important;
}

.menu .side-menu {
	position: absolute;
	background-color: var(--background);
	height: calc(100vh - 54px);
	right: -1rem;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: width 300ms;
	overflow: hidden;
	z-index: 10;
}

.menu .side-menu .content {
	width: max-content;
}

.menu .side-menu.hidden {
	width: 0;
}

.menu .side-menu.visible {
	width: 100vw;
}

.menu .side-menu ul {
	list-style: none;
}

.menu .side-menu ul .option .number {
	font-size: var(--font-size-sm);
	font-weight: 400;
}

.menu .side-menu ul .option a {
	color: var(--text-color);
	text-decoration: none;
	font-size: var(--font-size-5xl);
	font-weight: bold;
	margin-left: 1rem;
	transition: color 500ms;
}

.menu .side-menu ul .option a:hover {
	color: var(--text-color-hover);
}

.menu .side-menu .links {
	margin-top: 2rem;
}

.menu .side-menu .link {
	color: var(--text-color);
	text-decoration: none;
}

.menu .side-menu .link:not(:first-of-type) {
	margin-left: 2rem;
}

.menu .side-menu .link .bx-up-arrow-alt {
	transform: rotate(45deg) translate(20%, 10%);
}

@media screen and (min-width: 768px) {
	.menu .side-menu {
		height: calc(100vh - (50px + 6rem));
		right: calc(-10vw - 2rem);
	}
}
