.table-of-contents ul {
	margin: 16px 0;
}

.table-of-contents ul ul {
	margin: 0;
}

.table-of-contents li {
	padding-top: 0.075em;
	padding-bottom: 0.075em;
	margin-inline-start: 3rem;
}

@media screen and (min-width: 1024px) {
	.table-of-contents ul {
		margin: 12px 0;
	}

	.table-of-contents ul li {
		padding-top: 0.085rem;
		padding-bottom: 0.085rem;
		margin-inline-start: 2rem;
		font-size: var(--font-size-sm);
	}
}
