---
import List from '@/components/blog/list';
import ActionsBar, { type ActionsBarFilter } from '@/components/ui/actions-bar';
import TextTranslator from '@/components/ui/text-translator';
import BaseLayout from '@/layouts/base-layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');

const filters: ActionsBarFilter[] = [
	{
		id: 'order',
		text: 'filters.order',
		values: [
			{ text: 'filters.oldest', value: 'oldest' },
			{ text: 'filters.newest', value: 'newest' },
		],
		multiple: false,
		itemText: 'text',
		initialValue: 'newest',
	},
	{
		id: 'categories',
		text: 'filters.categories',
		values: [],
		multiple: true,
	},
];
---

<BaseLayout>
	<div slot="main">
		<ActionsBar filters={filters} client:only="react">
			<TextTranslator path="blog.title" client:only="react" slot="title" />
		</ActionsBar>

		<List posts={posts} client:only="react" />
	</div>
</BaseLayout>
