.post-header {
	align-items: center;
}

.post-header,
.post-header .wrapper {
	display: flex;
	gap: 2.5rem;
	flex-direction: column;
	width: 100%;
}

.post-header img {
	max-height: 50vh;
	object-fit: cover;
	width: calc(100vw - 15px);
}

.post-header .wrapper {
	gap: 1.5rem;
	padding: 0 2rem;
}

.post-header .wrapper .subtitle {
	color: var(--text-color-hover);
}

.post-header .extra {
	display: flex;
	gap: 1rem;
	padding: 0 2rem;
	width: 100%;
}

.post-header .extra .tags {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.post-header .extra .tags .tag {
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.post-header .wrapper,
	.post-header .extra {
		max-width: 70vw;
	}
}
