@import url('/public/styles/variables.css');

.language-picker {
	position: relative;
}

.language-picker .select-btn {
	color: var(--text-color);
	padding: 0.5rem;
	cursor: pointer;
	background-color: var(--background);
	font-size: var(--font-size-base);

	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.language-picker .select-btn .select-btn-arrow {
	width: 10px;
	margin-left: 1rem;
}

.language-picker .select-btn .select-btn-arrow::before {
	--size: 0.5rem;
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-top: var(--size) solid var(--text-color);
}

.language-picker .dropdown {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 10;
	visibility: hidden;
	background-color: var(--background);
	list-style: none;
}

.language-picker .dropdown.visible {
	visibility: visible;
}

.language-picker .dropdown .select-option {
	padding: 0.5rem;
	cursor: pointer;
}

.language-picker .dropdown .select-option.visible {
	background-color: var(--background-hover);
}

.language-picker .dropdown .select-option:hover {
	background-color: var(--background-hover);
}

.language-picker .dropdown .select-option:not(:last-of-type) {
	border-bottom: 1px solid var(--separator-color);
}
