---
import Text from '../components/Text';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogList from '../components/BlogList';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<BaseLayout>
	<div class="blog-content">
		<Text size="5xl" weight="bold" translation="blog.label" client:only />
		<BlogList items={posts} client:only />
	</div>
</BaseLayout>

<style is:global>
	.blog-content {
		padding: 2rem;

		display: flex;
		gap: 2.5rem;
		flex-direction: column;
		width: 100%;
	}

	@media screen and (min-width: 768px) {
		.blog-content {
			max-width: 80vw;
		}
	}
</style>
