---
import Text from '../components/Text';
import BaseLayout from '../layouts/BaseLayout.astro';

const contacts = [
	{
		type: 'mail',
		values: [
			{
				label: 'contact.juliomartins@gmail.com',
				link: 'mailto:contact.juliomartins@gmail.com',
			},
		],
	},
	{
		type: 'socialMedia',
		values: [
			{ label: 'linkedin', link: 'https://www.linkedin.com/in/ojuliomartins/' },
		],
	},
];
---

<BaseLayout>
	<div class="contact-content">
		<Text
			className="title"
			size="5xl"
			weight="bold"
			translation="contact.label"
			client:only
		/>

		<div class="contacts">
			{
				contacts.map((contact) => (
					<div class="contact">
						<div class="type">
							<Text
								size="base"
								translation={`contact.${contact.type}`}
								weight="bold"
								client:only
							/>
						</div>
						<div class="values">
							{contact.values.map((val) => (
								<div class="redirect">
									<i class="bx bx-up-arrow-alt bx-md" />
									<a class="link" href={val.link}>
										{val.label}
									</a>
								</div>
							))}
						</div>
					</div>
				))
			}
		</div>
	</div>
</BaseLayout>

<style is:global>
	.contact-content {
		padding: 2rem;

		display: flex;
		gap: 2.5rem;
		flex-direction: column;
		width: 100%;
	}

	.contact-content .title {
		border-bottom: 2px solid var(--text-color);
	}

	.contact-content .contacts .contact {
		display: flex;
		justify-content: space-between;
		margin: 1rem 0;
	}

	.contact-content .contacts .contact .redirect {
		display: flex;
		gap: 0.2rem;
	}

	.contact-content .contacts .contact .redirect .link {
		color: var(--text-color);
		text-decoration: none;
	}

	.contact-content .contacts .contact .redirect .bx-up-arrow-alt {
		transform: rotate(45deg);
	}

	@media screen and (min-width: 768px) {
		.contact-content {
			max-width: 80vw;
		}
	}
</style>
