---
import ActionsBar, { type ActionsBarFilter } from '@/components/ui/actions-bar';
import TextTranslator from '@/components/ui/text-translator';
import BaseLayout from '@/layouts/base-layout.astro';

const filters: ActionsBarFilter[] = [
	{
		id: 'order',
		text: 'Order',
		values: [
			{ text: 'Oldest', value: 'oldest' },
			{ text: 'Newest', value: 'newest' },
		],
		multiple: false,
		itemText: 'text',
	},
	{
		id: 'tags',
		text: 'Tags',
		values: [],
		multiple: true,
	},
];
---

<BaseLayout>
	<div slot="main">
		<ActionsBar filters={filters} client:only>
			<TextTranslator path="navigation.projects" client:only slot="title" />
		</ActionsBar>
	</div>
</BaseLayout>
