---
import LanguagePicker from '../LanguagePicker';
import DarkThemeButton from '../DarkThemeButton';
import Menu from '../Menu';
---

<header>
	<a href="/" class="logo">JM</a>

	<div class="group">
		<LanguagePicker client:only />

		<DarkThemeButton client:only />
		<Menu client:only />
	</div>
</header>

<style is:global>
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2rem;
		width: 100%;
	}

	header .logo {
		font-weight: bolder;
		text-decoration: none;
		color: var(--primary-text);
		font-size: var(--font-size-xl);
	}

	header .group {
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	header .btn.theme-btn {
		color: #fff;
	}

	header .group {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	@media screen and (min-width: 768px) {
		header {
			max-width: 80%;
			margin-top: 5rem;
		}
	}
</style>
