---
// @ts-check
import "@/styles/global.css";
---

<script is:inline>
	function setLocalStorageConfig() {
		const data = localStorage.getItem("jm:configs");

		if (!data) {
			localStorage.setItem("jm:configs");
		}
	}

	setLocalStorageConfig();
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width" name="viewport" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<title>JM</title>
	</head>
	<body class="bg-neutral-100 dark:bg-neutral-800">
		<div class="content flex">
			<main>
				<slot />
				<img src="" alt="" />
			</main>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
