---
import '@/styles/global.css';
import Header, { type MenuOptions } from '@/components/base/header';

interface Props {
	classes?: string;
}

const menus: MenuOptions[] = [
	{
		name: 'Home',
		link: '/',
	},
	{
		name: 'Projects',
		link: '/projects',
	},
	{
		name: 'Blog',
		link: '/blog',
		tag: 'new',
		tagStyle: '!bg-blue-400',
	},
];

const { classes } = Astro.props;
---

<script is:inline>
	function getLocalStorageConfig() {
		let data = localStorage.getItem('jm:configs');

		if (!data) {
			const isDarkTheme = window.matchMedia('(prefers-color-scheme: dark)');
			const browserLanguage = window.navigator.language;

			const availableLanguages = {
				'en-US': 'en',
				es: 'es',
				'pt-BR': 'pt-br',
			};

			const defaultConfig = {
				theme: isDarkTheme ? 'dark' : 'light',
				language:
					browserLanguage in availableLanguages
						? availableLanguages[browserLanguage]
						: 'en',
			};

			localStorage.setItem('jm:configs', JSON.stringify(defaultConfig));
			data = defaultConfig;
		}

		return typeof data === 'string' ? JSON.parse(data) : data;
	}

	const config = getLocalStorageConfig();
	const html = document.querySelector('html');

	if (html) {
		html.setAttribute('data-theme', config.theme);
		html.setAttribute('lang', config.language);
	}
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<title>JM</title>
	</head>
	<body
		class="flex justify-center bg-neutral-100 dark:bg-neutral-800 dark:text-neutral-100 lg:h-dvh scroll"
	>
		<div class="flex flex-col lg:w-[80%] xl:w-[70%] px-4 py-6 w-full">
			<Header menus={menus} client:only="react" />
			<main class={classes}>
				<slot name="main" />
			</main>
		</div>
	</body>
</html>
