---
import Header from '../components/base/Header.astro';

function transformPathName(str: string) {
	if (str === '/') return 'Home';
	if (str.match(/blog/g)) return 'Blog';

	str = str.replaceAll('/', '');

	const upperword = str.match(/[A-Z]/g);

	if (!upperword) return str[0].toUpperCase() + str.slice(1);

	str =
		str[0].toUpperCase() +
		str.slice(1).split(upperword[0]).join(` ${upperword[0]}`);

	return str;
}

const title = `JM | ${transformPathName(Astro.originPathname)}`;
---

<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/styles/variables.css" />
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="base-layout-content">
			<Header />
			<slot class="main-content" />
		</div>
	</body>
</html>

<script>
	const html = document.querySelector('html');
	const theme = localStorage.getItem('jm:theme') || 'dark';
	const lang = localStorage.getItem('jm:locale') || 'pt-br';

	if (html) {
		html.setAttribute('data-theme', theme);
		html.setAttribute('lang', lang);
	}
</script>

<style is:global>
	@font-face {
		font-family: 'Inter';
		src: url('/public/fonts/Inter.ttf');
	}

	:root {
		font-size: 62.5%;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
		padding: 0;
	}

	*::-webkit-scrollbar {
		width: var(--sb-size);
		height: var(--sb-size);
	}

	*::-webkit-scrollbar-track {
		background: var(--sb-track-color);
		border-radius: 6px;
	}

	*::-webkit-scrollbar-thumb {
		background: var(--sb-thumb-color);
		border-radius: 6px;
		/* border: 1px solid var(--sb-border-color); */
	}

	html {
		overflow-x: hidden;
		scroll-behavior: smooth;
	}

	html,
	body,
	.base-layout-content {
		height: 100%;
		color: var(--text-color);
		/* overflow-x: hidden; */
	}

	html[data-theme='dark'] .astro-code,
	html[data-theme='dark'] .astro-code span {
		color: var(--shiki-dark) !important;
	}

	html[data-menu='active'] {
		overflow-y: hidden;
	}

	.base-layout-content > div {
		transition: opacity 300ms;
	}

	html[data-menu='active'] .base-layout-content > div {
		opacity: 0;
	}

	.base-layout-content {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	body {
		font:
			500 var(--font-size-base) / 1.5 'Inter',
			sans-serif;
		background-color: var(--background);
	}

	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	button {
		border: none;
		cursor: pointer;
		background: none;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	a {
		color: var(--link-color);
	}

	@supports not selector(::-webkit-scrollbar) {
		* {
			scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
		}
	}
</style>
